body {
  background: #211F30;
}

@font-face {
  font-family: ClearSansRegular;
  src: url(font/ClearSans-Regular.ttf);
}

@font-face {
  font-family: ClearSansBold;
  src: url(font/ClearSans-Bold.ttf)
}

.menu {
  background: #32384D;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: auto;
}

.button-menu {
  float: right;
  padding: 8px;
}

.button-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
  overflow: hidden;
}

.button-menu ul li {
  float: left;
  padding: 0 5px;
}

.button-menu ul li a {
  display: block;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.button-False {
  background-color: #211F30;
  transition: background-color 0.25s linear;
}

.button-False:hover {
  background-color: #E29930;
}

.button-True {
  background-color: #217CA3;
  color: white;
}

.button-True:hover {
  color: white;
}

.logo {
  float: left;
  padding: 10px;
}

a {
  font-family: ClearSansRegular;
  color: #E29930;
  text-decoration: none;
}

a:hover {
  color: #217CA3
}

h1 {
  color: #E29930;
}

img {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}