<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/SearchFixLog.png') }}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', v=1) }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header class="menu">
      <div class="logo">
        <div>
          <img src="{{ url_for('static', filename='img/SearchFix2.png') }}" width="220px">
        </div>
      </div>
      <div class="button-menu">
        <ul>
          <li>
            <a href="/" class="button-{{ search }}">Search</a>
          </li>
          <li>
            <a href="/home" class="button-{{ home }}">Home</a>
          </li>
          <li>
            <a href="/help" class="button-{{ help }}">Help</a>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
